<h2>Search Results</h2>

<% if @requests.empty? %>
  <p>
    Sorry your search for '<%= params[:keywords] %>' returned no results.
  </p>
<% else %>
  <%=@requests.first.service_request %>
  <%redirect_to root_path%>
<% end %>

