
<h1 style="margin:auto; width:30vw">About this website's data</h1>
<p style="font-size:20px; width:80vw; text-align:left; margin:auto">These data is about Service Requests received by 311. The data sets have their location randomized: Dog Complaints, Graffiti, Mosquito Complaints, Neighborhood Liveability Complaints, Sewer Backups, and Vacant or Derelict Building Complaints. The randomization function changes the location to less than 500m in the X and Y directions, and always within the same neighbourhood. The randomization occurs as a mechanism to ensure privacy for sensitive service requests.</p>
